#  BASIC SETTINGS
fqdn: mail2.schmidbauer.cz
host: mail2
mail_domain: schmidbauer.cz
install_url: https://cdn.openbsd.org/pub/OpenBSD
update: true # patch the system

extra_packages:
  - pftop
  - rsync--
  - curl
  - unzip--

nameservers:
  - 108.61.10.10
  - 2001:19f0:300:1704::6
  - 1.1.1.1
  - 8.8.8.8

#host_aliases:
#  - www2.schmidbauer.cz

admins:
  - { name: puffy, pass: "$2b$09$OrnsezebLKBNuMqdhe7neujp8yvEKTvKPA3BDlZRVodNOCFRFYKse" , key: "ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAE16RDWXX5lZUTYR27vK4jtmDximUhsVkay0EzB/1+xe3fVHKh0oqygfVSKL0pxvWC55b87XQt8J0+nNUF01xYOnABrz78nWd7TzXXudqsZIfvY7xCRoQ9ecZgWPaokIuc+TJW+zBfUeWDVx8Pd3rRIWJK4emH8ynLQFSC7bdsPkwzFhQ==" }

users:
  - { name: stefan, pass: "$2b$09$8Z9TxWQ3OMklHI1SEMHfcuqGjevVVYMBsT0LB9CN0PsgCyHrejAmO" }
  - { name: backupuser, pass: "$2b$09$v.pUw1p/3b4I6dbnLjlFbuFO4WWZIHs6XmvVE13QYfCAb6v7bYcPS" }

ipv4_autoconf: true
ipv6_autoconf: true
backup_location: /home/backupuser
delete_backups_older: 6

#  TECHNICAL SETTINGS
ext_if: vio0
#net_speed: 125M # 1 Gbit
#net_speed_cap: 100M

pf_max_src_conn: 200
pf_max_src_conn_rate: 100/5

pf_all_hosts_ports:
  - 22
  - 80
  - 443

pf_badhost_enabled: true
pf_nixspam_enabled: true
pf_smtp_white_enabled: true

pf_bad_ports:
  - 23
  - 2000
  - 2323
  - 992
  - 8123
  - 5071
  - 7443
  - 139
  - 1433
  - 1080
  - 3389

pf_trusted_hosts:
  - 85.207.44.182
  - 193.235.207.51
  - 46.23.90.145

pf_default_ports:
  - 22

pf_trusted_hosts_ports:
  - 22
  - 443
  - 80
  - 3306

tls_ciphers: EECDH+AESGCM:EDH+AESGCM # httpd, smtpd, dovecot
tls_ecdhe: P-384,P-256,X25519 # httpd
tls_min_version: TLSv1.2 # dovecot

doas_groups_nopass:
  - wheel
# doas_groups: None

ssh_max_auth_retries: 3
ssh_permit_password_auth: "no"
ssh_permit_root_login: "no"
ssh_permit_challenge_response_auth: "no"
ssh_kex_algos: "curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256"
ssh_ciphers: "chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr"
ssh_macs: "hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com"

httpd_default_mime_types: true
httpd_block_bad_locations: true
httpd_use_catchall: true
httpd_use_tls: true # Only set to true once the certificate is actually generated!
httpd_use_lets_encrypt: true
httpd_enforce_tls: true # Except for Let's Encrypt that is
httpd_redirect_default_vhost: true
httpd_redirect_default_vhost_destination: https://webmail.schmidbauer.cz

sysctl:
  - { name: "net.inet.ip.forwarding",   value: 1 }
  - { name: "net.inet6.ip6.forwarding", value: 1 }
  - { name: "net.inet6.ip6.redirect",   value: 1 }
  - { name: "ddb.panic",                value: 0 }
  - { name: "kern.maxfiles",            value: 16000 }

cronjobs:
   - { name: "install system patches",      special_time: "weekly",   job: "syspatch"  }
   - { name: "install package updates",     special_time: "weekly",   job: "pkg_add -u"  }
   #- { name: "mail backup",                 special_time: "weekly",   job: "/usr/local/bin/mail_backup.sh"  }
   #- { name: "delete older mail backups",   special_time: "daily",    job: "find {{ backup_location }} -mtime +14 -type d -maxdepth 1 -name 'maildir-*' -delete" }

mail_max_size: 50M # used in smtpd and dovecot
smtpd_max_deferred: 1000
smtpd_queue_ttl: 4d
smtpd_warn_interval: 1h, 6h, 2d

smtpd_domains:
  - schmidbauer.cz
  - mail.schmidbauer.cz
  - mail2.schmidbauer.cz

smtp_aliases:
   - { name: cloud,                         target: stefan }
   - { name: hello,                         target: stefan }
   - { name: hallo,                         target: stefan }
   - { name: ahoj,                          target: stefan }
   - { name: puffy,                         target: stefan }
   - { name: monitoring,                    target: stefan }
   - { name: stefan@schmidbauer.cz,         target: stefan }
   - { name: anna@schmidbauer.cz,           target: anna }
   - { name: max@schmidbauer.cz,            target: max }
   - { name: mattias@schmidbauer.cz,        target: mattias }
   - { name: hans@schmidbauer.cz,           target: hans }
   - { name: angelika@schmidbauer.cz,       target: angelika }
   - { name: _pfbadhost@schmidbauer.cz,     target: stefan }

smtp_filters:
   - { name: dnsbl,       command: "proc-exec 'filter-dnsbl bl.spamcop.net'" }
   #- { name: check_dyndns, command: "phase connect match rdns regex { '.*\.dyn\..*', '.*\.dsl\..*', '.*\.glas\..*' } junk" }
   #- { name: senderscore,   command: "proc-exec 'filter-senderscore -allowlist /etc/pf-smtp-white.txt -junkBelow 40 -slowFactor 5000'" }
   - { name: check_rdns,    command: "phase connect match !rdns junk" }
   - { name: check_fcrdns,  command: "phase connect match !fcrdns junk" }
   - { name: rspamd,        command: "proc-exec 'filter-rspamd'" }

# with senderscore: tune carefully
smtp_used_filters:
   #- dnsbl
   #- check_dyndns
   - check_rdns
   - check_fcrdns
   #- senderscore
   - rspamd

smtpd_mail_responder_active: True
smtpd_mail_responder_address: alert@schmidbauer.cz
smtpd_mail_responder_address_path: /etc/mail/responder
smtpd_mail_responder_mda_command: /usr/local/bin/mail-responder.sh %{sender} %{rcpt} %{dest}

pf_smtp_white_domains:
   - google.com
   - amazon.com
   - edis.at
   - rb.cz
   - mxtoolboxsmtpdiag.com
   - internet.nl

rspamd_packages:
   - 'redis'
   - 'rspamd'
   - 'opensmtpd-filter-rspamd'
   - 'opensmtpd-filter-senderscore'
   - 'opensmtpd-filter-dnsbl'

dovecot_packages:
   - 'dovecot'
   - 'dovecot-pigeonhole'

dovecot_auth_mechanisms: plain
dovecot_auth_failure_delay: 5
dovecot_first_valid_uid: 1000
dovecot_mail_location: maildir:~/Maildir
dovecot_mail_folders:
   - { name: Drafts, special_use: Drafts, perms: lrstwip }
   - { name: Sent, special_use: Sent, perms: lrstwip }
   - { name: Trash, special_use: Trash, perms: lrstwip }
   - { name: Junk, special_use: Junk, perms: lrstwip }
   - { name: Archive, special_use: Archive, perms: lrstwip }

dovecot_use_global_acl: true
dovecot_acl_cache_secs: 300
dovecot_acl_default_perms: lrstwip
dovecot_masteruser: mailadmin
dovecot_masteruser_pass: "{CRYPT}$2y$05$S40YgQ8ffbcWyy1es.nn1ei9Esoqs561o7Ih3Yzbs0X9ipN1gmxTq"
dovecot_masteruser_perms: lr

dovecot_imap_plugins:
  - imap_sieve
  # - imap_acl # had issues with login when activated
dovecot_sieve_plugins:
  - sieve_imapsieve
  - sieve_extprograms

sieve_folder: /usr/local/lib/dovecot/sieve

dkim_version: 1
dkim_key_folder: /etc/mail/dkim
dkim_key_algo: rsa
dkim_key_size: 1024
dkim_signing_allow_username_mismatch: 'true'

dmarc_version: 1
dmarc_policy: quarantine
dmarc_percent: 100
dmarc_rua_contact: "hostmaster@{{ mail_domain }}"

spf_version: 1
spf_scope: all

tlsa_usage: "3 1 1"
tlsa_ports: "443 143 25 587 993 465"

#mta_sts: false
mta_sts_version: STSv1
mta_sts_mode: testing     # testing, enforce or none
mta_sts_max_age: 604800   # 1 week
mta_sts_mxs:
  - mail.schmidbauer.cz
  - mail2.schmidbauer.cz

