{% if ipv4_autoconf == true %}
dhcp
{% endif %}
{% if ipv4_autoconf == false %}
inet {{ ip4.address }} {{ ip4.netmask }}
{% endif %}
{% if ipv6_autoconf == true %}
inet6 autoconf -autoconfprivacy -soii
{% endif %}
{% if ipv6_autoconf == false %}
inet6 {{ ip6.address }} {{ ip6.netmask }}
{% endif %}
