{% if ipv4_autoconf == true %}
dhcp
{% endif %}
{% if ipv4_autoconf == false %}
inet {{ ipv4.addr }} {{ ipv4.netmask }}
{% endif %}
{% if ipv6_autoconf == true %}
inet6 autoconf -autoconfprivacy -soii
{% endif %}
{% if ipv6_autoconf == false %}
inet6 autoconf -autoconfprivacy -soii
inet6 {{ ipv6.addr }} {{ ipv6.netmask }}
{% endif %}
